$color-primary-0: #89B3B9;
$color-primary-1: #EFFBFD;
$color-primary-2: #C4E3E8;
$color-primary-3: #264C51;
$color-primary-4: #4C7E85;

$black: #000;
$white: #fff;
$transparent-white: #fff5;
$dark-blue: #00373f;
$dark-blue-transparent: #00373f66;
$link-blue: #0cf;
$link-color: darken($link-blue, 50%);
$contrast: #f54;
$banner: #dee5e6;
